@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700;800&display=swap');

:root {
  --rich-black: #111112ff;
  --medium-purple: #8257e5ff;
  --green: #04d361ff;
  --white: #fdfdffff;
  --columbia-blue: #c0d8e0ff;
  font-size: 65.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.8rem;
  padding-top: 7.5rem;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
  background-color: var(--rich-black);
  font-size: 1.8rem;
  font-weight: 700;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  border-bottom: 1px solid var(--columbia-blue);
}

header p {
  color: var(--green);
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--green);
}

ul li a:hover {
  color: var(--white);
}

#home {
  height: calc(100vh - 7rem);
  background: hsla(240, 3%, 7%, 1) url("./assets/bg_2.jpeg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.home-content {
  width: 30vw;
  background-color: hsla(258, 73%, 62%, 0.7);
  padding: 2.5rem;
  border-radius: 1rem;
}

.home-content img {
  border-radius: 100%;
  width: 30%;
}

.home-content h1 {
  padding: 0.5rem;
  font-size: 3.6rem;
  font-weight: 700;
}

.home-content p {
  padding: 0.5rem;
  font-size: 1.8rem;
}

.home-content i {
  margin: 2.5rem 0.5rem;
  font-size: 3.5rem;
  color: var(--green);
}


.home-content i:hover {
  stroke: var(--columbia-blue);
}

.home-content button {
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--green);
  border-radius: 1.5rem;
  border: none;
  outline: none;
}

.home-content button:hover {
  background-color: var(--columbia-blue);
  color: var(--rich-black);
}

.fa {
  position: absolute;
  bottom: 4.5rem;
  color: var(--green);
  font-size: 5rem;
  animation: seta 4s linear 0s infinite normal forwards;
}

@keyframes seta {

  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

#sobre {
  display: flex;
  justify-content: space-between;

  height: 100vh;
  position: relative;
}

#sobre .bg {
  background: linear-gradient(135deg, var(--rich-black) 0%, var(--medium-purple) 45%);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container-sobre {
  margin: auto;
  width: 30vw;
}

.container-sobre h2 {
  padding: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.container-sobre p {
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
}

#timeline {
  background: linear-gradient(315deg, var(--rich-black) 0%, var(--medium-purple) 45%);
}

#timeline .title {
  padding-top: 10rem;
  text-align: center;
}

.timeline-container {
  height: 100vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.container {
  padding: 4rem 4rem;
}

.conteudo {
  display: flex
}

.timeline-container aside {
  position: relative;
  top: 10rem;

  max-width: 55rem;
  max-height: 55vh;

  background-color: var(--columbia-blue);
  border-radius: 0.7rem;
}

.timeline-container .container .conteudo i {
  margin: 2.5rem 0.5rem;
  font-size: 3.5rem;
  color: var(--green);
}

.timeline-container .container .conteudo .informacao {
  border-left: 0.4rem solid var(--green);
  padding-left: 1rem;
  margin-left: 2rem
}

.timeline-container .container .conteudo h2 {
  font-size: 2.4rem;
  color: var(--rich-black);
  font-weight: 800;
}

.timeline-container .container .conteudo p {
  font-size: 1.8rem;
  color: var(--rich-black);
}